.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 10px 0px;
}
.searchBar {
  display: flex;
  justify-content: center;
  height: 50px;
}

.searchBar input {
  width: 60%;
  font-size: 1.6em;
}
@media only screen and (max-width: 1024px) {
  .hdImgStyle {
    max-width: -webkit-fill-available;
  }
}
@media only screen and (min-width: 1024px) {
  .modalContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .hdImgStyle {
    width: 100%;
  }
}
