.cardButtonStyle {
  border: none;
  background-color: transparent;
  width: -webkit-fill-available;
  color: white
}
.innerBorder {
  padding: 5px;
  border-radius: 5px;
}
.audioWidth {
  width: -webkit-fill-available;
}

.titleStyle {
  word-break: break-all;
}